body {
  margin: 0;
  background: rgb(31, 58, 177);
  font-family: 'Nunito', sans-serif;
}

table {
  border-radius: 10px;
}

thead tr td {
  font-weight: bold;
}

.App {
  width: 1000px;
  margin: 80px auto;
}

.box {
  position: relative;
  margin: 20px 0 40px 0;
  display: inline-block;
}

.box select {
  color: white;
  padding: 10px 12px;
  width: 300px;
  border: none;
  border: 1px solid #007bff;
  color: #007bff;
  font-size: 18px;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f078";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 22%;
  height: auto;
  text-align: center;
  font-size: 18px;
  line-height: 50px;
  pointer-events: none;
  color: #007bff;
}

.box select option {
  padding: 30px;
}

.badge {
  padding: 6px 10px;
  background: #fff;
}

.badge-danger {
  color: #dc3545;
  border: 1px solid #dc3545;
}
.badge-primary {
  color: #007bff;
  border: 1px solid #007bff;
}